<div class="row">
  <div class="col-sm-4">
    <h2>How it Works</h2>
    <p>
      We provide users with a simple JSON workflow to create slide files
      from their GitHub repositories.
    </p>
    <p>
      <ol>
        <li>Create a GitHub repo (or clone our example repo)</li>
        <li>Use our markup language to create a <code>.gitdeck</code> file in the repository's root directory</li>
        <li>Add the repo link to your profile</li>
        <li>We parse your <code>.gitdeck</code> file and generate your slides</li>
        <li>Access them from anywhere with a custom url</li>
      </ol>
    </p>
  </div>
  <div class="col-sm-4">
    <h2>Documentation</h2>
    <p>
      Our parser and language are fully open source and <a href="https://github.com/gitdeck/gitdeck">available on GitHub</a>. While
      we do develop GitDeck independently, we encourage the community to submit issues, pull requests
      or feature requests.
    </p>
    <p>
      <ul>
        <li><a href="#">Getting Started with GitDeck</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">The Bamboo Parser</a></li>
      </ul>
    </p>
  </div>
  <div class="col-sm-4">
    <h2>Stay Informed</h2>
    <p>GitDeck isn't ready just yet, but if you leave us your email we'll let you know
    when it is. We hate spam as much as you do so we'll never share your email with anyone.</p>
    <form id="email-form" class="form-inline">
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="email">
      </div>
      <button type="submit" class="btn btn-success">Keep Me Posted</button>
    </form>
  </div>
</div>
