<div id="banner" class="row">
  <div id="main-banner" class="col-sm-12 text-center">
    <h2>Generate your deck now!</h2>
    <p>GitDeck generates an HTML5 deck right from your Github repository.</p>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div id="repo-input" class="form-group">
            <input type="text" class="form-control" id="repo-url" placeholder="repository url">
            <input type="hidden" name="repo-path" id="repo-path" value="">
          </div>
        </div>
      </div>
      <a href="#" id="submit-gen" class="btn btn-lg btn-success">Generate</a>
      <a href="#" id="learn" class="btn btn-lg btn-info">Learn More</a>
  </div>
  <div id="sec-banner" class="col-sm-12 text-center">
    <h2>Generate your deck now!</h2>
    <p>That repository has more than one GitDeck file. Please choose which one you want to use.</p>
    <div id="candidates" class="text-center"></div>
  </div>
  <div id="third-banner" class="col-sm-12 text-center">
    <h2>Generating...</h2>
    <p><img class="rotate" src="img/panda_medium.png" style="width:75px;height:68px"/></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2>How it Works</h2>
    <p>
      We provide users with a simple JSON workflow to create slide files
      from their GitHub repositories.
    </p>
    <p>
      <ol>
        <li>Create a GitHub repo (or clone our example repo) to house your deck(s).</li>
        <li>Use our JSON syntax to create your <code>.gitdeck</code> file and push it to your repo.</li>
        <li>Enter your repo link above and choose the correct deck file.</li>
        <li>We parse your <code>.gitdeck</code> file and generate your slides.</li>
        <li>Access them from anywhere with a custom url.</li>
      </ol>
    </p>
  </div>
  <div class="col-sm-6">
    <h2>Documentation</h2>
    <p>
      Our parser and renderer are fully open source and <a href="https://github.com/gitdeck/gitdeck">available on GitHub</a>. While
      we do develop GitDeck independently, we encourage the community to submit issues, pull requests or feature requests.
    </p>
    <p>
      <ul>
        <li><a href="/docs#getting-started">Getting Started with GitDeck</a></li>
        <li><a href="/docs">Documentation</a></li>
      </ul>
    </p>
  </div>
</div>

<script src="js/gitdeck.js"></script>
