<%= partial('layout_header'); %>
  <body>
    <div class="container">
      <img id="logo" src='img/panda.svg'/>
      <h1>
        GitDeck
        <small>make decks from your github repo</small>
      </h1>
      <hr/>
      <%- displayFlash(flash); %>
      <%- render(); %>
    </div>
  </body>
<%= partial('layout_footer'); %>
