<div class="row">
  <div id="footer" class="col-sm-12">
    Copyright 2015 &copy; GitDeck.me &mdash; all code and documentation is released under our <a href="#">Creative Commons License</a>
  </div>
</div>
</html>
